:root {
  --accent-color: #5056c8;
  --accent-color-hover: #3f45b0;
  --primary-background-color: #151832;
  --secondary-background-color: #30324e;
  --foreground: #171717;
  --border-color: #3a3d5c;
  --text-color-muted: #656782;
  --text-color: #e0e0e0;

  --pending-color: #6E7389;
  --processing-color: #FDBC64;
  --finished-color: #33BB87;
  --todo-color: #339ECD;
  --blocked-color: #DC3545;

  --low-color: #79AFFD;
  --medium-color: #777AE5;
  --high-color: #6645A9;
  --urgent-color: #DC3545;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--primary-background-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input {
  width: 100%;
  padding: 12px;
  background-color: #2C2E4A;
  border: 1px solid var(--border-color);
  outline: none;
  border-radius: 4px;
  color: var(--text-color);
}

input:focus {
  border: 1px solid var(--accent-color);
}

i {
  margin-top: -10px;
  color: #DC3545;
  font-size: 0.875rem;
  text-align: left;
}

button {
  padding: 12px;
  font-weight: 500;
  background-color: var(--accent-color);
  border: none;
  outline: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 120ms all linear;
}

button:hover {
  transition: 120ms all linear;
  background-color: var(--accent-color-hover);
}

button[data-disabled="true"] {
  background-color: var(--accent-color-hover);
}

#overlay-hidden {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* QUILL STYLES */

.ql-toolbar.ql-snow {
  color: var(--text-color) !important;
}

.ql-editor.ql-blank:before {
  color: var(--text-color) !important;
}

.ql-container.ql-snow {
  color: var(--text-color) !important;
}