.container {
  position: relative;
}

.popupConfirm {
  position: absolute;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius-small);
  box-shadow: var(--box-shadow-medium);
  z-index: 2002;
  right: 0;
  top: -80px;
  min-width: 200px;
}

.arrow {
  position: absolute;
  top: 49%;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: var(--secondary-background-color);
  transform: rotate(45deg) translateY(-50%);
}

.popupContent {
  padding: 12px;
}

.popupContent p {
  font-size: 0.85em;
  text-align: center;
}

.info {
  font-size: 0.7rem;
  color: #8688a4;
  text-align: center;
  width: 100%;
  display: block;
}

.confirmButtons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-top: 10px;
}

.cancelButton,
.deleteButton {
  padding: 8px 22px;
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
}

.cancelButton {
  background: var(--text-color-muted);
}

.deleteButton {
  background-color: var(--danger-color);
  color: white;
}
