.container {
    box-shadow: 2px 2px 4px var(--foreground);
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 500px;
}

.heading {
    font-size: 1.4rem;
    font-weight: 500;
}

.guests,
.invitations {
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
}

.guests ul,
.invitations ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.guests li,
.invitations li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.guests div,
.invitations div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.user img {
    min-width: 32px;
    min-height: 32px;
}

.email {
    width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.role {
    width: 100px;
    font-size: var(--text-size-small);
}

.role span {
    text-align: center;
    width: 100%;
    color: var(--text-color-muted);
}

.member button,
.pending button {
    border-radius: var(--border-radius-xs);
    padding: 8px !important;
    font-size: var(--text-size-small);
    background-color: var(--danger-color);
}

.member button:hover,
.pending button:hover {
    background-color: var(--text-color-red);
}