.container {
    box-shadow: 2px 2px 4px var(--foreground);
    background-color: var(--secondary-background-color);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 480px;
}

.heading {
    font-size: 1.4rem;
    font-weight: 500;
}

.guests,
.invitations {
    border-top: 1px solid var(--border-color);
    padding-top: 20px;
}

.guests ul,
.invitations ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.guests li,
.invitations li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.guests div,
.invitations div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.container form:nth-child(2) button {
    width: 100px;
}

.pending {
    color: var(--text-color-muted);
}