.container {


    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent !important;
    z-index: inherit !important;
}

.modal {
    position: relative;
    z-index: 9999;
    width: 100%;
    max-width: 1200px;
}

.wrapper {
    position: relative;
    z-index: 9999;
    width: 100%;
    max-width: 1200px;
}

.modal span {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
}

.content {
    margin-top: 24px;
    background-color: var(--secondary-background-color);
    width: 100%;
    padding: 24px;
    border-radius: var(--border-radius-small);
    height: 100%;

}

.form {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.right {
    width: 40%;
}

.form textarea {
    height: 470px;
    resize: none;
}

.name {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    gap: 40px !important;
}

.project {
    width: 100%;
}

.name label,
.note label {
    margin-bottom: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.note label {
    text-align: right;
}

.submitWrapper {
    margin-top: 24px;
    width: fit-content;
    margin-left: auto;
}

.submit {
    padding-inline: 24px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formGroup label {
    font-size: 14px;
    color: var(--text-color-muted);
    font-size: var(--text-size-normal);
}

.formGroup input {
    padding: 12px;
    border-radius: var(--border-radius-xs);
    border: 1px solid var(--border-color);
    background: transparent;
    color: var(--text-color);
    font-size: 16px;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.icon {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--primary-background-color);
    height: 100%;
    border-radius: 8px 0 0 8px;
    padding-inline: 12px;
    cursor: pointer;
}

.moreIcons {
    position: absolute;
    z-index: 2001;
    display: flex;
    gap: 12px;
    background-color: var(--primary-background-color);
    padding: 8px;
    border-radius: 8px 8px 8px 0;
    top: -40px;
    left: 40px;
}

.inputWrapper input {
    border-radius: 0px 4px 4px 0px;
    padding-right: 8px;
}



.deleteLink {
    position: absolute;
    right: -30px;
    top: -28px;
}

.addLink {
    width: fit-content;
}

.addLink span {
    color: var(--accent-color);
    font-size: var(--text-size-medium);
    font-weight: 400;
    cursor: pointer;
}


.deleteLink {
    color: var(--danger-color);
    text-decoration: none;
    font-size: var(--text-size-normal);
    margin-top: 40px;
    cursor: pointer;
}

.deleteLink:hover {
    text-decoration: underline;
}

.logoContainer {
    margin-bottom: 2rem;
}

.picture {
    position: relative;
    min-width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.projectLogo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editPicture {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 120px;
    height: 120px;
}

.editPicture svg {
    width: 20px;
    height: 20px;
    color: white;
}

.input {
    padding: 10px;
    font-size: var(--text-size-medium);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-xs);
    background-color: #2C2E4A !important;
    color: var(--text-color);
}

.input:focus {
    outline: none;
    border-color: var(--primary-color);
}


.delete {
    margin-top: 32px;
    margin-bottom: 10px;
    background: transparent;
    color: var(--blocked-color);

    padding: 0;
}

.delete:hover {
    background: transparent;
}

.statusMessage {
    margin-top: 10px;
}

.statusMessage span[data-status="success"] {
    color: var(--accent-color);
}

.statusMessage span[data-status="failure"] {
    color: var(--blocked-color);
}