.editPicture svg {
    width: 20px;
    height: 20px;
    color: white;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}

.formGroup label {
    color: var(--text-color-muted);
    font-size: var(--text-size-normal);
}

.input {
    padding: 10px;
    font-size: var(--text-size-medium);
}

.input:focus {
    outline: none;
    border-color: var(--primary-color);
}

.submitBtn {
    float: right;
    margin-top: 24px;
}

.signOut {
    margin-top: var(--layout-gap);
    margin-bottom: var(--layout-gap);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}