.container {
    background-color: var(--primary-background-transparent);
    border-radius: var(--border-radius-medium) 0 0 0;
    padding: 32px;
    color: var(--text-dark-color);
    height: 100%;
    overflow: hidden;
}

.columns {
    width: 100%;
}

.columns,
.column {
    display: flex;
    gap: 40px;
}

.columns {
    justify-content: center;
}

.column {
    flex-direction: column;
    width: 40%;
}

.column:last-child {
    position: relative;
    top: 94px;
    width: 20%;
    min-width: 400px;
}


.column:last-child .wrapper {
    height: 675px;
}

.wrapper {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: var(--border-radius-medium);
    padding: 32px;
}


.header {
    display: flex;
    justify-content: space-between;
}

.infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    font-size: 0.8rem;
    color: var(--text-color-muted);
}

.title {
    font-size: var(--text-size-large);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 20px;
}

.picture {
    position: relative;
    width: fit-content;
}

.editPicture {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    min-width: 100px;
    height: 100px;
    border-radius: 50%;
}

.editPicture svg {
    color: white;
}

.projectName {
    font-size: 1.2rem;
    padding-left: 4px;
    border-bottom: 2px solid var(--text-dark-color);
}

.footer {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.counts {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.archive {
    display: flex;
    align-items: center;
    gap: 4px;
}

.archive a {
    text-decoration: underline;
    color: var(--text-dark-color);
    font-size: var(--text-size-small);
}

/* LINKS */

.content:has(.link) {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.link {
    display: flex;
    align-items: center;
    /* gap: 8px; */
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--text-medium-color);
    height: 45px;
    width: 45px;
}

.link input {
    position: relative;
    top: 2px;
    padding-left: 8px;
}

.delete {
    padding: 0;
    width: fit-content;
    background: transparent;
    color: var(--text-color-red);
    text-decoration: underline;
}

.delete:hover {
    background: transparent;
}

/* RIGHT SIDE */

.column:nth-child(2) .content {
    height: 100%;
}

.note {
    height: 90%;
    resize: none;
    border: none;
    font-size: var(--text-size-normal);
}