.main {
    margin-inline: 20px;
    width: 100%;
    height: calc(100svh - 60px);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    background-color: var(--primary-background-color);
    border-radius: 8px 8px 0 0;
    height: 100%;
    padding: 24px;
    overflow: auto;
}

.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
    max-width: 1200px;
    width: 100%;
    gap: 68px;
    justify-content: center;
}

.element {
    margin-inline: auto;
}

.infos {
    margin-top: 4px;
}

.name {
    text-align: center;
    margin-bottom: 4px;
    max-width: 100px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.stats,
.stats span {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.stats span {
    gap: 4px;
}

.empty {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.75rem;
    color: var(--text-color-muted);
    font-weight: 900;
    opacity: 0.5;
}