/* .main {
    margin: 0 0 0 20px;
    width: 100%;
    height: calc(100svh - 60px);
    overflow: auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-color);
    border-radius: 8px 0 0 0;
    height: 100%;
    width: 100%;
    padding: 24px;
} */
