.main {
    margin-left: var(--layout-gap);
    width: 100%;
    min-width: 0;
    max-height: calc(100vh - 64px);
}

.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(218, 214, 199, 0.6);
    border-top-left-radius: var(--border-radius-medium);
    height: 100%;
    padding: var(--layout-gap) 0 0 var(--layout-gap);
    overflow: hidden;
}