.container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

.header {
    font-weight: bold;
    font-size: 1.4rem;
}