.container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
}

.header {
    font-weight: bold;
    font-size: 1.4rem;
}

.notification {
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-top: 1px solid var(--border-color);
    padding: 14px 4px 4px 4px;
}

.title {
    font-size: 1.1rem;
    font-weight: 500;
}

.content {
    font-size: 0.9rem;
}