.container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.message {
    padding: 14px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.names {
    font-size: 0.9rem;
    font-weight: 500;
}


.date {
    font-size: 0.75rem;
    color: var(--text-color-muted);
}

.text {
    padding: 10px;
}