.container {
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 350px;
}

.header {
    font-size: var(--text-size-medium);
    color: var(--text-color);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form label {
    display: block;
    margin-bottom: 4px;
    margin-left: 4px;
}