.container {
    justify-content: space-between;
    background-color: var(--secondary-background-color);
    padding: 4px 12px;
    border-radius: var(--border-radius-small);
}

.container,
.infos,
.infos div span {
    display: flex;
    align-items: center;
    gap: 12px;
}

.container div span {
    gap: 4px;
}

.container button {
    background: transparent;
    color: var(--accent-color);
}