.projects-dropdown {
    display: flex;
    align-items: center;
    gap: 14px;
}

.projects-dropdown__projects {
    position: relative;
}

.projects-dropdown__button {
    cursor: pointer;
    border: 1px solid var(--border-color);
    padding: 6px 12px;
    border-radius: 4px;
    user-select: none;
    transition: 150ms all linear;
}



.projects-dropdown__button:hover,
.projects-dropdown__button[data-open="true"] {
    border: 1px solid var(--accent-color);
    transition: 150ms all linear;
}

.projects-dropdown__button span {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-color);
}

.projects-dropdown__button svg {
    width: 20px;
    height: 20px;
}

.projects-dropdown__list {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    z-index: 10;
    background-color: var(--secondary-background-color);
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    border-radius: 4px;
}

.projects-dropdown__list ul {
    display: flex;
    flex-direction: column;

}

.projects-dropdown__item {
    padding: 8px;
}

.projects-dropdown__item a {
    background-color: red;
}

.projects-dropdown__item:first-child {
    border-radius: 4px 4px 0 0;
}

.projects-dropdown__item:last-child {
    border-radius: 0 0 4px 4px;
}

.projects-dropdown__item:hover {
    cursor: pointer;
    background-color: var(--primary-background-color);
}