.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.button {

    border: 1px solid var(--border-color);
    padding: 6px;
    border-radius: 4px;
}

.button span {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-color);
}

.button svg {
    width: 20px;
    height: 20px;
}

.projects {
    position: relative;
}

.projectsList {
    position: absolute;

    top: 0;
    left: 0;
    background-color: var(--secondary-background-color);
    box-shadow: 0 4px 10px 0px rgba(0, 0, 0, 0.25);

    width: 100%;
}

.projectsList ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}