.boards {
    margin-top: -35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* height: calc(100svh - 240px);
    overflow-y: auto; */
    padding: 24px;
}

.archiveTitle {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: -20px;
}

.task-overlay {
    cursor: grabbing;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    width: 100%;
}

.task-card {
    padding: 1rem;
    background: white;
    border-radius: 4px;
}