.container {
    position: relative;
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-small);
    display: flex;
    flex-direction: column;
}

.content {
    overflow-y: auto;
    max-height: calc(100vh - 250px);
    position: relative;
    padding-bottom: 55px;
}

.container:before {
    content: "";
    display: block;
    bottom: 0;
    height: 55px;
    left: 0;
    background-color: #F6F4E9;
    box-shadow: inset 0 3px 3px 0 #00000010;
    position: absolute;
    width: 100%;
    border-bottom-left-radius: calc(var(--border-radius-medium) - 1px);
    border-bottom-right-radius: calc(var(--border-radius-medium) - 1px);
}