.boards {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    padding-right: 16px;
    padding-bottom: var(--layout-gap);
    position: relative;
    border-top-left-radius: var(--border-radius-medium);
    border-top-right-radius: var(--border-radius-medium);
}

.archiveTitle {
    font-weight: 600;
    font-size: var(--text-size-large);
    margin-bottom: -20px;
}

.task-overlay {
    cursor: grabbing;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius-xs);
    width: 100%;
}

.task-card {
    padding: 1rem;
    background: white;
    border-radius: var(--border-radius-xs);
}