.update-board__container input {
    max-width: max-content !important;
}

.update-board__title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.update-board__title span:nth-last-of-type(1) {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}