.container {
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
    border-right: 1px solid var(--text-light-color);
    font-size: var(--text-size-normal);
    color: var(--text-color);
    min-width: 135px;
    max-width: 150px;
    width: 100%;
    height: 100%;
}

.current {
    position: relative;
    width: 100%;
    min-width: 110px;
    text-align: center;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: var(--border-radius-large);
    margin-inline: 12px;
    color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list {
    position: absolute;
    z-index: 2001;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    padding: 12px;
    background-color: var(--secondary-background-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25), -2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius-small);
}

.list[data-big="true"] {
    width: 380px;
}

.items {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(6, auto);
    gap: 8px;
    padding-inline: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--border-color);
}

.item {
    padding: 8px 16px;
    min-width: 135px;
    cursor: pointer;
    color: white;
    border-radius: var(--border-radius-large);
    text-align: center;
}

.item {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: var(--border-radius-large);
    min-height: 34px;
    transition: 60ms all linear;
}

.item:hover {
    opacity: 0.8;
}

.add {
    display: flex;
    align-items: center;
    gap: 4px;
    border: none;
    padding: 8px 16px !important;
    border-radius: var(--border-radius-large);
    background-color: var(--text-lighter-color);
    font-size: 15px;
    color: var(--text-dark-color);
    transition: 120ms ease-in-out;
    min-width: 135px;
    max-width: 150px;
}

.add:hover {
    background-color: var(--text-light-color);
}

.edit {
    background: none;
    width: 100%;
    outline: none;
    border: none;
    color: var(--text-dark-color);
    padding: 4px !important;
    margin-top: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 0.9rem;
    border-radius: 4px !important;
}

.edit:hover {
    background: var(--text-lighter-color);
    box-shadow: none;
}