.container {
    position: fixed;
    z-index: 2001;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("/backgrounds/background.jpg");
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: cover;
    width: clamp(520px, 45%, calc(100vw - 80px));
    height: 100vh;
    box-shadow: -4px 10px 10px 0px rgba(0, 0, 0, 0.15);
    animation: openAnimation 250ms forwards ease-out;
    padding: 32px;
    cursor: default;
    overflow-y: auto;
    min-width: 520px;
    resize: horizontal;
}

.container-close {
    animation: closeAnimation 250ms forwards ease-out;
}

/* Close btn */

.close {

    display: flex;
    align-items: center;
    background-color: var(--third-background-color);
    box-shadow: var(--box-shadow-small);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    overflow: visible;

}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 24px;
}

.task {
    font-size: var(--text-size-large);
    font-weight: 500;
}

.author {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: var(--text-size-small);
    color: var(--text-color-muted);
}

.authorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container,
.wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.resizer {
    width: 4px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: col-resize;
    background-color: transparent;
    transition: background-color 0.2s;
    z-index: 2002;
}

.resizer:hover,
.resizer:active {
    background-color: var(--accent-color);
}

@keyframes openAnimation {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes closeAnimation {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}