.container {
    justify-content: center;
    text-align: center;
    padding-inline: 16px;
    font-size: var(--text-size-normal);
    min-width: 150px;
    max-width: 170px;
    width: 100%;
    text-transform: lowercase;
}

.board::first-letter {
    text-transform: uppercase;
}

.board {
    gap: 8px;
    width: 100%;
    padding: 8px;
    border-radius: var(--border-radius-medium);
}