.container {
    width: 100%;
    min-width: 200px;
    max-width: 700px;
    cursor: text;
    margin-inline: 8px;
}

.container span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: var(--text-size-normal);
    letter-spacing: 0.01em;
}

.container input {
    position: relative;
    font-size: var(--text-size-normal);
    letter-spacing: 0.01em;
    border: none;
}

.container input:focus {
    color: var(--text-darker-color);
     border-radius: var(--border-radius-xs);
}