.container {
    width: 100%;
    min-width: 200px;
    max-width: 700px;
    cursor: text;
    font-size: var(--text-size-normal);
    padding-left: 6px;
    margin-inline: 8px;
}

.container span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container input {
    position: relative;
    left: -6px;
    padding: 4px 6px;
    font-size: 14.8px;
    border: none;
    transition: 150ms background linear;
}

.container input:focus {
    color: var(--text-darker-color);
    background-color: var(--third-background-color);
    border-radius: var(--border-radius-xs);
}