.container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;
    min-width: 135px;
    max-width: 150px;
}

.container input {
    border: none;
    padding: 8px 16px !important;
    border-radius: var(--border-radius-large);
    background-color: var(--text-lighter-color);
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 30px !important;
}

.delete {
    opacity: 0;
    position: absolute;
    color: var(--text-dark-color);
    right: -18px;
}

.delete[data-show="true"] {
    opacity: 1;
}

.color {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-light-color);
    height: 22px;
    width: 22px;
    left: 4px;
    border-radius: var(--border-radius-large);
}