.container {
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid var(--text-color);
    border-right: 1px solid var(--text-color);
    padding-inline: 16px;
    width: 80px;
    color: #CC9348;
    font-size: var(--text-size-small);
    height: 100%;
}