/* .container {
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    padding-inline: 16px;
    font-size: var(--text-size-normal);
    min-width: 150px;
    max-width: 170px;
    width: 100%;
    text-transform: lowercase;
}

.board::first-letter {
    text-transform: uppercase;
}

.bullet {
    width: 14px;
    height: 12px;
    border-radius: 50%;
}

.board {
    width: 100%;
    padding: 8px;
    border-radius: var(--border-radius-medium);
}  */
