.container {
    position: fixed;
    /* Change absolute en fixed */
    right: 20px;
    /* Ajustez selon votre besoin */
    bottom: 20px;
    /* Ajustez selon votre besoin */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: var(--secondary-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 24px;
    width: 450px;
    text-align: left;
    border-radius: 4px;
}


.container[data-status="success"] .header {
    color: #33BB87;
}

.container[data-status="failure"] .header {
    color: #ca4250;
}