.container {
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: fixed;
    z-index: 9999;
    right: 0;
    bottom: 20px;
    background-color: white;
    padding: 24px;
    width: 450px;
    text-align: left;
    border-radius: 4px;
}

.header {
    color: red;
}