.container {
    position: fixed;
    /* Change absolute en fixed */
    right: 20px;
    /* Ajustez selon votre besoin */
    bottom: 20px;
    /* Ajustez selon votre besoin */
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 14px;
    background-color: var(--secondary-background-color);
    padding: 24px;
    width: 450px;
    text-align: left;
    border-radius: 4px;
}

.header {
    color: red;
}