.private-layout {
    display: flex;
}

.private-layout__aside {
    position: relative;
    z-index: 2000;
    background-color: var(--secondary-background-color);
    width: 11%;
}

.private-layout__main {
    width: 100%;
}