.private-layout {
    display: flex;

}

.private-layout__aside {
    position: relative;
    top: -50px;
    height: 100svh;
    width: 10%;
    background-color: var(--secondary-background-color);
}

.private-layout__main {
    width: 90%;
}