.container {
    padding: 20px;
    position: fixed;
    z-index: 2001;
    bottom: 0;
    background-color: var(--side-background-color);
    height: 100svh;
    width: 5%;
}

.projects {
    margin-top: 50px;
}

.projects,
.projectsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.projectsItem {
    font-size: 0.9rem;
    padding: 8px 4px;
    border-radius: 4px;
}