.container {
    padding: 20px;
    position: fixed;
    z-index: 1999;
    bottom: 0;
    background-color: var(--side-background-color);
    height: 100svh;
    width: 5%;
}

.wrapper {
    margin-top: 50px;
}

.wrapper,
.wrapper__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}



.wrapper__list {
    text-align: left;
}

.wrapper__item {
    font-size: 0.9rem;
    padding: 8px 4px;
    border-radius: 4px;
}