.container {
    position: relative;
    user-select: none;
}

.current {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--secondary-background-color);
    cursor: pointer;
    font-size: var(--text-size-medium);
    width: 180px;
    max-height: 40px;
    border: 1px solid var(--border-color);
}

.current span {
    display: flex;
    justify-content: center;
    gap: 4px;
}

.current img {
    border-radius: 50%;
}

.current svg {
    position: absolute;
    right: 6px;
}

.dropdown {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background-color: var(--secondary-background-color);
    box-shadow: var(--box-shadow-medium);
    border-radius: var(--border-radius-small);
    padding: 10px;
    z-index: 2000;
    max-height: 300px;
    overflow-y: auto;
}

.member {
    padding: 6px 0;
    font-size: var(--text-size-small);
}

.member,
.member label {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.member input {
    max-width: 16px !important;
    max-height: 16px !important;
    cursor: pointer;
}

.member img {
    border-radius: 50%;
}

.member span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
}