.container {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.date {
    position: relative;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: var(--secondary-background-color);
    border-radius: var(--border-radius-large);
    padding: 9px 0;
    width: 180px;
}



.date label {
    position: absolute;
    top: -16px;
    left: 20px;
    font-size: 0.70rem;
    display: block;
    width: 100%;
}

.date input {
    padding: 0 !important;
    max-width: 140px;
    border: none;
}