/* .container {
    height: 100%;
}

.header {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header h1 {
    margin-bottom: inherit;
    min-width: fit-content;
}

.total {
    font-weight: bold;
}

.content {
    margin-top: 12px;
    overflow: auto;
    height: 100%;
    padding-right: 12px;
    margin-right: 12px;
    padding-bottom: 40px;
    border-radius: var(--border-radius-small);
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.5rem;
} */
