.container {
    display: flex;
    gap: 14px;
    align-items: center;
}

.container svg {
    width: 20px;
    height: 20px;
}

.container svg:last-child {
    color: var(--text-color-muted);
}

.wrapper {
    display: flex;
    align-items: center;
    background-color: var(--accent-color);
    padding: 4px 8px;
    border-radius: var(--border-radius-xs);
    gap: 8px;
}

.wrapper span {
    font-size: var(--text-size-normal);
}