.container {
    position: relative;
    display: flex;
}

.container>button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33354e !important;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    padding: 0;
}

.container button svg {
    color: var(--side-background-color);
    width: 30px;
    height: 30px;
}

.container button:hover {
    background-color: #525474 !important;
}

.create-project__buttons button:nth-child(2) {
    background: none;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-background-color);
    gap: 6px;
    z-index: 2000;
    /* width: 100%;
    height: 100%; */
    /* width: calc(100% - 80px); */
}

.closeButton {
    position: absolute;
    top: 64px;
    right: 64px;
    background: none;
    border: none;
    cursor: pointer;
}

.form {
    margin-top: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.form input {
    width: fit-content;
    margin-top: 10px;
    height: 150px;
    font-size: 2.5rem;
    background-color: transparent;
    border: none;
    text-align: center;
}

.form button {
    padding: 14px 22px;
    font-size: 1rem;
}

.form .projectCreationInfo {
    font-size: 0.82rem;
    color: var(--text-color-muted);
    margin-bottom: 12px;
}