.container button {
    display: flex;
    justify-content: center;
    background-color: grey !important;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.create-project__button {
    font-size: 0.9rem;
    width: 100%;
}

.create-project__form input {
    margin-top: 10px;
}

.create-project__buttons {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.create-project__buttons button {
    width: 100%;

}

.create-project__buttons button:nth-child(2) {
    background: none;
}