.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: fit-content;
    padding: 20px;
    box-shadow: 2px 2px 4px var(--foreground);
    background-color: var(--secondary-background-color);
}