.container {
    position: absolute;
    top: 50%;
    /* Centrage vertical */
    left: 50%;
    /* Centrage horizontal */
    transform: translate(-50%, -50%);
    /* Décalage pour centrer */
    width: fit-content;
    /* Ajuste la largeur automatiquement */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 4px var(--foreground);
    background-color: var(--secondary-background-color);
}