.container {
  position: relative;
  user-select: none;
}

.current {
  padding: 8px;
  background-color: var(--accent-color);
  width: 110px;
  font-size: var(--text-size-small);
  border-radius: var(--border-radius-xs);
  cursor: pointer;
  transition: all 80ms ease-in;
}

.current:hover {
  background-color: var(--accent-color-hover);
}

.current span {
  color: white;
  text-align: center;
  width: 100%;
}

.options {
  position: absolute;
  z-index: 9999;
  top: 40px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0 !important;
  width: 100%;
  background-color: var(--secondary-background-color);
  font-size: var(--text-size-small);
  border-radius: var(--border-radius-xs);
  max-height: 200px;
  overflow: auto;
  text-align: left;
  box-shadow: var(--box-shadow-medium);
}

.option {
  padding: 8px;
  transition: all 150ms ease-in;
}

.option,
.option label {
  cursor: pointer;
}

.option:hover {
  background-color: var(--third-background-color);
  color: var(--text-darker-color);
}
