.container {
  position: relative;
}

.infos {
  display: flex;
  flex-direction: column;
  max-height: calc(5 * 20px);
  overflow-y: auto;
  bottom: 14px;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius-xs);
  box-shadow: var(--box-shadow-small);
  position: absolute;
  z-index: 2001;
  padding: 8px;
  gap: 8px;
}

.infos::-webkit-scrollbar {
  width: 6px;
}

.infos::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-color);
  border-radius: 6px;
}

.infoAttachment {
  height: 20px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.attachmentName {
  font-size: 0.85rem;
  color: var(--text-color-muted);
  white-space: nowrap;
}

.attachmentName[data-url="false"] {
  text-decoration: none;
  cursor: default;
}

.attachmentName[data-url="false"]:hover {
  color: var(--text-color-muted);
}

.attachments {
  color: var(--accent-color);
  font-size: var(--text-size-small);
}
