/* .container {
    position: absolute;
    z-index: 2001;
    top: 24px;
    left: 0;
    background-color: var(--secondary-background-color);
    padding: 8px;
    border-radius: var(--border-radius-small);
    box-shadow: var(--box-shadow-small);
}

.colors {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    gap: 4px;
}

.color {
    height: 22px;
    width: 22px;
    border-radius: var(--border-radius-large);
    cursor: pointer;
} */