.infoUser {
  display: flex;
  align-items: center;
}

.moreInfos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: var(--secondary-background-color);
  color: var(--text-color-muted);
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 50%;
  box-shadow: var(--box-shadow-medium);
}
