.container {
  display: flex;
  flex-direction: column;
  max-height: calc(5 * 40px);
  overflow-y: auto;
  top: 35px;
  left: 4px;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius-xs);
  box-shadow: var(--box-shadow-small);
  position: absolute;
  z-index: 2001;
  padding: 8px;
  gap: 8px;
}

.container::-webkit-scrollbar {
  width: 6px;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--secondary-background-color);
  border-radius: 6px;
}

.infoUser {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.profileImage {
  border-radius: 50%;
  flex-shrink: 0;
}

.name {
  font-size: 0.85rem;
  color: var(--text-color-muted);
  white-space: nowrap;
}