.container {
    display: inline-block !important;
    border-radius: 50%;
    background-color: red;
}

.container>div {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; */
}