.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    user-select: none;
    background-color: none;
}

.header svg {
    cursor: pointer;
}

.bullet {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}

.count {
    color: var(--text-color-muted);
    font-size: 0.8rem;
    font-weight: 400;
}

.header[data-open="true"] {
    background-color: var(--secondary-background-color);
    padding: 8px;
    border-radius: 4px;
}