.board {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--secondary-background-color);
    padding: 14px 24px;
    border-radius: 8px;
}

.board__header {
    font-weight: 500;
    padding-bottom: 12px;
    border-bottom: 1px solid white;
}