.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    font-weight: 500;

}

.header span {
    display: block;
}

.header span:nth-child(2) {
    display: block;
    width: 12px;
    height: 12px;
    background-color: red;
}