.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
}

.header span {}

.bullet {
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}