.update-board__container input {
    width: 100px;
}

.update-board__title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.update-board__title span:last-child {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}