.container {
    position: fixed;
    top: 0;
    background-color: var(--third-background-color);
    z-index: 1999;
    width: 100%;
    padding: 8px 0;
    height: 60px;
}

.nav {
    margin-inline: 8px 16px;
}

.nav,
.actions {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    position: relative;
}

.actions {
    gap: 24px;
}

.actions {
    position: relative;
}

.actions li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bell:hover {
    fill: white;
    cursor: pointer;
}

.bell[data-open="true"] {
    fill: white;
}