.container {
    z-index: 2001;
    position: fixed;
    padding: 16px 40px;
    width: calc(100% - var(--aside-width));
    overflow: visible;
    background-color: var(--primary-background-color);
}

.container:after {
    content: '';
    position: absolute;
    bottom: -20px;
    height: 20px;
    z-index: -1;
    width: 100%;
    background: rgb(21, 24, 50);
    background: linear-gradient(180deg, rgba(21, 24, 50, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.container nav,
.projects {
    display: flex;
    align-items: center;
}

.container nav {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--text-color-muted);
}

.projects {
    gap: 14px;
}

.projects span {
    color: var(--text-color-muted);
    font-size: var(--text-size-normal);
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
}

.title span {
    cursor: pointer;
}

.title span:hover {
    opacity: 0.8;
}

.titleInput {
    background: none;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color: inherit;
    padding: 2px 4px;
    border-radius: 4px;
    width: 300px;
    background-color: var(--background-color);
}

.titleInput:focus {
    outline: none;
    background-color: var(--background-color);
}