.container {
    display: flex;
    height: 100%;
}

.private-layout__aside {
    position: fixed;
    width: var(--aside-width);
    height: 100%;
    z-index: 2009;

}

.private-layout__main {
    width: calc(100% - var(--aside-width));
    margin-left: var(--aside-width);
    height: 100%;
}