.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px 16px;
    z-index: 2008;
    height: 100%;
    background-color: var(--side-background-color);
    border-right: 1px solid #292a39;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.projects,
.projectsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.projectsItem {
    transition: all 0.3s ease;
    transform-origin: center;
    will-change: transform;
    position: relative;
}

.projectsItem img {
    border: 3px solid transparent;
    transition: 150ms all linear;
}

.projectsItem img[data-active="true"] {
    border: 3px solid var(--accent-color);
    transition: 150ms all linear;
}

.projectsItem[data-active="true"] {
    order: -1;
}

.projectsItem[data-active="true"]::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: var(--accent-color);
    right: -13px;
    top: 0;
}

.footer {
    text-align: center;
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.signOut {
    margin-top: 10px;
}

.dragHandle {
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

.isDragging {
    cursor: grab;
    z-index: 1;
}

.isDragging:active {
    cursor: grabbing;
}