.container {
    min-width: 65px;
    width: 65px;
    transition: width linear 150ms, min-width linear 150ms;
}

.container[data-open="true"] {
    min-width: 220px;
    width: 220px;
}

.wrapper {
    position: fixed;
    min-width: 66px;
    width: 66px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    background-color: var(--primary-background-color);
    height: 100%;
    border-radius: 0 8px 0;
    transition: width linear 150ms, min-width linear 150ms;
}

.container[data-open="true"] .wrapper {
    min-width: 220px;
    width: 220px;
}

.nav {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-height: 600px;
    overflow: auto;
}

.nav::-webkit-scrollbar {
    display: none;
}

.project {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.project img {
    border: 2px solid transparent;
    transition: all linear 150ms;
}

.project:hover img {
    border: 2px solid var(--text-color-muted);
    transition: all linear 150ms;
}

.project[data-active="true"] img {
    border: 4px solid var(--accent-color);
    transition: all linear 150ms;
}

.project span {
    color: var(--text-color-muted);
    font-size: 0.95rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project[data-active="true"] span {
    color: var(--text-color);
    transition: all linear 150ms;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.createProjectButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33354e;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.createProjectButton:hover {
    background-color: #525474;
    cursor: pointer;
}

.createProjectButton svg {
    color: var(--side-background-color);
}


.create-project__buttons button:nth-child(2) {
    background: none;
}

.actions a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #33354e;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.actions a:hover {
    background-color: #525474;
    cursor: pointer;
}

.actions a svg {
    color: var(--text-color-muted);
    transition: all linear 150ms;
}

.actions a[data-active="true"] svg {
    color: var(--text-color);
    transition: all linear 150ms;
}