/* .dataContainer_SideNav {
  min-width: var(--aside-width);
  width: var(--aside-width);
  transition: width linear 150ms, min-width linear 150ms;
  user-select: none;
} */

/* .container_SideNav[data-open="true"] {
  min-width: 220px;
  width: 220px;
} */

/* .wrapper_SideNav {
  position: fixed;
  top: 0;
  min-width: var(--aside-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
  width: var(--aside-width);
  padding: 22px 0px 32px 11px;
  height: 100%;
  transition: width linear 150ms, min-width linear 150ms;
  background-color: #2a3730;
} */

/* .container_SideNav[data-open="true"] .wrapper_SideNav {
  min-width: 220px;
  width: 220px;
}

.nav_SideNav::-webkit-scrollbar {
  display: none;
} */

/* .nav {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 65svh;
  overflow-y: auto;
  scroll-behavior: smooth;
} */

/* background-color: transparent;
  width: 4px; */

/* .container_SortableProject {
  position: relative;

  cursor: pointer;
  transition: all linear 150ms;
  color: var(--text-lighter-color);

} */
/* Aide à aligner le défilement sur les projets */

/* .projectLogo {
  max-width: 42px;
  max-height: 42px;
} */

/* .container_SortableProject img {
  min-width: 42px;
  min-height: 42px;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: 2px solid transparent;
}

.container_SortableProject:hover img,
.container_SortableProject[data-active="true"] img {
  border: 2px solid var(--accent-color);
}

.container_SortableProject:hover:after,
.container_SortableProject[data-active="true"]:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f9d6ac0d;
  border-right: 2px solid var(--accent-color);
  z-index: -1;
  border-radius: 33px 0 0 33px;
}

.container_SortableProject[data-active="true"] span {
  font-weight: 400;
  transition: all linear 150ms;
} */

/* .container_SortableProject span {
  font-size: var(--text-size-small);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
  font-weight: 300;
} */


/* .actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
} */

/* .createProjectButton,
.openArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  min-height: 42px;
} */

/* .openArrow {
  color: var(--text-color);
  margin-top: 20px;
  margin-bottom: 20px;
} */

/* .createProjectButton,
.openProjects,
.myTasksLink {
  background-color: var(--primary-background-color);
  color: var(--side-background-color);
} */

/* .createProjectButton:hover,
.openArrow:hover,
.myTasksLink:hover {
  color: var(--accent-color-hover);
  cursor: pointer;
} */

/* .create-project__buttons button:nth-child(2) {
  background: none;
} */

/* .myTasks {
  margin-top: -12px;
  margin-bottom: 18px;
}

.actions a,
.myTasks a {
  display: flex;
  align-items: center;
  gap: 12px;
}

.actions span,
.myTasks span {
  font-size: var(--text-size-small) !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;
  font-weight: 300;
  color: var(--text-lighter-color);
}

.actions a:hover,
.myTasks a:hover {
  cursor: pointer;
  text-decoration: none;
}

.actions a svg,
.myTasks a svg {
  transition: all linear 150ms;
} */