.container input:-webkit-autofill,
.container input:-webkit-autofill:hover,
.container input:-webkit-autofill:focus,
.container input:-webkit-autofill:active {
    transition: background-color 5000s linear 0s;
    -webkit-text-fill-color: var(--text-dark-color) !important;
}

.container form {
    gap: 12px !important;
}

.container input {
    border: none;
    background-color: var(--third-background-color);
    padding: 8px !important;
    border-radius: var(--border-radius-xs);
}

.container button {
    width: 100%;
    border-radius: var(--border-radius-xs);
    font-size: var(--text-size-medium);
    padding: 8px !important;
}