.container {
    position: relative;
    cursor: pointer;
    transition: all linear 150ms;
    color: var(--text-lighter-color);
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}

.logo {
    min-width: 42px;
    min-height: 42px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: var(--secondary-background-color);
}

/* Animation shimmer */
@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.logo {
    animation: shimmer 1.5s infinite ease-in-out;
    background: linear-gradient(110deg,
            #f1f5f9 40%,
            #f8fafc 50%,
            #ffffff 52%,
            #f8fafc 54%,
            #f1f5f9 60%);
    background-size: 200% 100%;
}