.container {
    background-color: var(--secondary-background-color);
    padding: 24px;
    /* max-width: 400px;
    width: 100%; */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.google {
    position: relative;
    background-color: #3184FC;
    color: white;
}

.google span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 2;
    top: 2;
    background-color: white;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}

.google:hover {
    transition: 120ms all linear;
    background-color: color-mix(in srgb, white 10%, #3184FC);
}

.text {
    color: var(--text-color-muted);

}

.text span {
    color: var(--accent-color);
    font-weight: 500;
    cursor: pointer;

}

.text span:hover {
    text-decoration: underline;
}