.container {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.picture {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 120px;
}

.profileImage {
    border-radius: 50% !important;
    object-fit: cover;
}

.editPicture {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2001;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}