.container {
    position: fixed;
    z-index: 2001;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    background-color: var(--secondary-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius-small);
    color: black;
    animation: showAnim 0.2s ease-out;
}

.count {
    background-color: #007CFF;
    height: 100%;
    color: var(--text-color);
    border-radius: 8px 0 0 8px;
    font-weight: bold;
    font-size: var(--text-size-large);
    padding: 18px 24px;
}


.wrapper {
    align-items: center;
    gap: 12px;
    padding-right: 24px;
}

.container,
.wrapper,
.actions,
.action {
    display: flex;
}

.header {
    font-size: 1.4rem;
}

.actions {
    gap: 24px;
}

.action {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 2px;
}

.action span {
    font-size: var(--text-size-small);
}

.action:nth-child(2) {
    color: var(--blocked-color);
}

.action:last-child {
    border-left: 1px solid #007CFF;
    padding-left: 12px;
}

@keyframes showAnim {
    from {
        opacity: 0;
        bottom: -50%;
    }

    to {
        opacity: 1;
        bottom: 20px;
    }
}