.tasks {
    background-color: var(--secondary-background-color);
    border-radius: 4px;
}

.tasks ul {
    display: flex;
    flex-direction: column;
}

.tasks li form {
    width: 100%;
}

.task__add {
    display: flex;
    align-items: center;
    gap: 12px;
}

.task__add {
    max-width: 900px;
    padding: 4px 8px;
}

.task__add svg {
    width: 15px;
    height: 15px;
}

.task__add svg path {
    fill: #ffffff36;
}

.task__add form {
    width: 100%;
}

.task__add input {
    padding: 6px;
    border: none;
    background-color: inherit;
    padding: 6px 4px;
    font-size: var(--text-size-normal);
}

.tasks__info {
    position: absolute;
    margin-top: 4px;
    margin-left: 25px;
    color: var(--text-color-muted);
    font-size: 0.8rem;
}

.tasks__info span {
    color: white;
}