.container {
    padding: 6px;
    width: 100%;
    min-width: 200px;
    max-width: 700px;
}

.container span {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.input {
    padding: 4px 6px;
    font-size: var(--text-size-normal);
    font-weight: 300;
    border: none;
    transition: 150ms background linear;
}

.input:focus {
    color: var(--text-darker-color);
    background-color: var(--third-background-color);
    border-radius: var(--border-radius-xs);
}