.container {
    position: relative;
    display: flex;
    max-width: 120px;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
    border-right: 1px solid var(--text-light-color);
    height: 100%;
}

.container svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: color 150ms ease-in-out;
}

.container svg:hover {
    color: var(--accent-color);
}

.container[data-running="true"] {
    color: inherit;
}

.timer {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: var(--text-size-normal);
    cursor: pointer;
}

.timer[data-center="true"] {
    width: 100%;
    justify-content: center;
}

/* .more {
    position: absolute;
    background-color: var();
} */

.more {
    display: flex;
    flex-direction: column;
    gap: 8px;
    top: 44px;
    right: 4px;
    padding: 0px !important;
    width: 400px;
    border-radius: 4px !important;
    max-height: 300px;
    overflow: hidden;
    box-shadow: var(--box-shadow-small) !important;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: var(--third-background-color);
    padding: 8px;
    border-radius: 4px 4px 0 0;
}

.title span:nth-child(1) {
    color: var(--text-dark-color);
}

.title span:nth-child(2) {
    color: var(--accent-color) !important;
    font-size: var(--text-size-normal);
    cursor: pointer;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 6px 16px 12px 16px;
}

.sessions {
    overflow-x: auto;
    max-height: 200px;
    font-size: 0.85em;
    color: var(--text-dark-color);
}

.sessions[data-overflow='true'] {
    padding-right: 20px;
}

.addTime {
    display: flex;
    align-items: center;
    gap: 8px;
}

.addTime button {
    width: 100%;
    padding: 8px !important;
    border-radius: 4px;
}

.more ul {
    gap: 12px;
}

.more ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.monthDay {
    display: flex;
    align-items: center;
    gap: 8px;
}

.hours {
    flex: 1;
    text-align: center;
}

.time {
    display: flex;
    justify-content: flex-end;
    min-width: 70px;
}

.delete {
    margin-left: 10px;
    display: flex;
    cursor: pointer;
}

.delete svg {
    color: var(--text-color-red);
}

.delete svg:hover {
    color: var(--blocked-color);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form label {
    position: inherit;
    font-size: 14px;
    color: var(--text-color-muted);
    font-size: var(--text-size-normal);
    text-align: left;
    display: block;
}

.dateInput {
    margin-inline: auto;
}

.dateInput input {
    border: none;
}

.form .timeInputs {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 8px;
}

.timeInputs div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
}

.form .timeInputs input {
    width: 65px !important;
    border: none;
    padding: 0px !important;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4px;
    margin-top: 12px;
    width: 100%;

}

.buttons button {
    padding: 8px !important;
    border-radius: 4px;
}

/* .form input[type="date"]::-webkit-inner-spin-button,
.form input[type="date"]::-webkit-calendar-picker-indicator,
.form input[type="time"]::-webkit-inner-spin-button,
.form input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
} */