/* Assurez-vous que ces couleurs s'intègrent bien avec votre design */
.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 32px;
    font-size: var(--text-size-small);
    color: var(--text-color-muted);
}

.content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

/* Configuration de base pour les grands écrans (>1700px) 
   Avec un maximum fixe pour la colonne texte */
.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text {
    text-align: center;
    width: 100%;
    min-width: 300px;
    max-width: 800px;
}


.responsibles {
    width: 100%;
    max-width: 88px;
    padding-inline: 8px;
    text-align: center;

}

.status,
.priority {
    text-align: center;
    width: 100%;
    max-width: 135px;
}

.deadline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 150px;
    padding-inline: 8px;
}

.estimation {
    text-align: center;
    width: 100%;
    max-width: 140px;
    padding-inline: 8px;
}

.timer {
    text-align: center;
    width: 100%;
    max-width: 120px;
    padding-inline: 8px;
}

.space {
    min-width: 50px;
    border-radius: 10px;
    height: 20px;
}