/* Assurez-vous que ces couleurs s'intègrent bien avec votre design */
.container {
    display: flex;
    align-items: center;
    width: 100%;

    font-size: var(--text-size-small);
    color: var(--text-color-muted);
    padding-inline: 12px;
    padding-bottom: 12px;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    cursor: default;
}

.selection {
    min-width: 20px;
    max-width: 20px;
}

.drag {
    min-width: 20px;
    max-width: 20px;
}

.text {
    width: 100%;
    min-width: 240px;
    max-width: 740px;
    text-align: center;
}


.responsibles {
    padding-inline: 9px;
    max-width: 90px;
}


.status,
.priority {
    width: 100%;
    min-width: 135px;
    max-width: 150px;
}

.deadline {
    min-width: 120px;
    max-width: 150px;
}

.estimation {
    min-width: 120px;
    max-width: 140px;
}

.timer {
    max-width: 120px;
    min-width: 120px;
}

.remove {
    min-width: 36px;
    width: 40px;
    height: 10px;
}