/* .container {
    position: relative;
    z-index: 1999;
}

.current {
    gap: 8px;
    background-color: var(--secondary-background-color);
    padding: 10px;
    border-radius: var(--border-radius-xs);
    border: 1px solid var(--border-color);
    cursor: pointer;
    width: 210px;
    transition: all 120ms ease-in-out;
}

.current[data-open="true"] {
    background-color: #f9f7efb3;
    box-shadow: var(--box-shadow-small);
}

.current svg:last-child {
    transition: all 120ms ease-in-out;
}

.current[data-open="true"] svg:last-child {
    transform: rotate(180deg);
}

.current span {
    max-width: 140px;
    flex: 1;
}

.current:hover {
    background-color: #f9f7efb3;
    box-shadow: var(--box-shadow-small);
}

.dropdown {
    position: absolute;
    top: 44px;
    border-radius: var(--border-radius-xs);
    background-color: white;
    box-shadow: var(--box-shadow-small);
    border: 1px solid var(--border-color);
    padding: 8px;
    width: 100%;
}

.current,
.item {
    display: flex;
    align-items: center;
    text-transform: lowercase;
}

.dot {
    min-width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--accent-color);
}

.item {
    gap: 4px;
    padding: 8px 6px;
    cursor: pointer;
    font-size: var(--text-size-small);
    font-weight: 500;
    transition: all 120ms ease-in-out;
}

.current span::first-letter,
.item span::first-letter {
    text-transform: uppercase;
}

.item:hover {
    background-color: var(--third-background-color);
    box-shadow: var(--box-shadow-small);
    border-radius: var(--border-radius-xs);
}

.current span,
.item span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
} */
