/* .container {
    display: flex;
    align-items: center;
    gap: 8px;
    /* background-color: var(--secondary-background-color); */
/* border-radius: 4px; */
/* padding: 8px;
    width: 100%;
    max-width: 250px;
    transition: all 150ms ease-in-out;
    border-bottom: 1px solid var(--border-color);
}

.container input {
    border: 0;
    padding: 0;
    color: var(--text-dark-color);
    font-size: var(--text-size-normal);
}

.container:has(input:focus) {
    border-bottom: 1px solid var(--text-dark-color);

}

.container input::placeholder {
    color: var(--text-color-muted);
}

.container input[type="search"]::-webkit-search-decoration,
.container input[type="search"]::-webkit-search-cancel-button,
.container input[type="search"]::-webkit-search-results-button,
.container input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
} */
