.container {
    position: relative;

}

.container ul {
    display: flex;
    flex-direction: column;
}

.container li form {
    width: 100%;
}

.add {
    display: flex;
    align-items: center;
    gap: 12px;
}

.add {
    max-width: 900px;
    padding: 4px 8px;
}

.add svg {
    width: 15px;
    height: 15px;
}

.add svg path {
    fill: #ffffff36;
}

.add form {
    width: 100%;
}

.add input {
    padding: 6px;
    border: none;
    background-color: inherit;
    padding: 6px 4px;
    font-size: var(--text-size-normal);
}

.info {
    position: absolute;
    margin-top: 4px;
    margin-left: 25px;
    color: var(--text-color-muted);
    font-size: 0.8rem;
}

.info span {
    color: white;
}