.task-more__container {
    position: absolute;
    z-index: 2000;
    top: 0;
    right: -30%;
    background-color: var(--primary-background-color);

    width: 40%;
    height: 100%;
    box-shadow: -4px 10px 10px 0px rgba(0, 0, 0, 0.15);
    animation: openAnimation 250ms forwards ease-out;
    padding: 64px 24px 24px 24px;
    cursor: default;
}

.task-more__container-close {
    animation: closeAnimation 250ms forwards ease-out;
}

.task-more__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-more__header span {
    font-size: 1.2rem;
}

.task-more__header svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.task-more__container,
.task-more__description,
.task-more__conversation {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.task-more__description__text {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 14px;
    font-size: 0.85rem;
}

@keyframes openAnimation {
    from {
        right: -40%;
    }

    to {
        right: 0%;
    }
}

@keyframes closeAnimation {
    from {
        right: 0%;
    }

    to {
        right: -40%;
    }
}