.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--text-light-color);
  width: 100%;
  height: 45px;
  transition: all 150ms ease-in-out;
  font-size: var(--text-size-normal);
  padding-inline: 12px;
}

.container[data-openned="true"] {
  background-color: var(--accent-color);
}

.container:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: default;
}

.checkbox {
  min-width: 20px;
  max-width: 20px;
}

.checkbox input {
  cursor: pointer;
  width: 14px;
  height: 14px;
}

.grip {
  min-width: 20px;
  max-width: 20px;
  cursor: grab;
  color: var(--text-light-color);
}

.comment {
  position: relative;
  color: var(--text-color-muted);
  min-width: 40px;
  max-width: 40px;
  cursor: pointer;
}

.count {
  position: absolute;
  text-align: center;
  cursor: pointer;
  bottom: 8px;
  right: 4px;
  width: 14px;
  height: 14px;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  font-size: var(--text-size-small);
  color: var(--text-dark-color);
  font-weight: 500;
}

.dragging {
  opacity: 0;
}

.container:hover .task__remove {
  visibility: visible;
}

.checkbox:checked {
  background-color: var(--accent-color);
  position: relative;
}

.checkbox:checked::after {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color-muted);
  font-size: 12px;
  color: white;
}

.content .options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment svg path {
  fill: var(--text-medium-color);
}

.options {
  height: 100%;
}

.container:hover .task__remove {
  color: var(--text-color-muted);
}

.task__remove {
  cursor: pointer;
  margin-right: 8px;
  margin-left: 8px;
  color: #41435f;
  transition: color 150ms ease-in-out;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.container .task__remove:hover {
  color: var(--danger-color);
}

.confirm_container {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 1000;
}

.messageIcon[data-is-unread="true"] {
  background-color: var(--accent-color);
  color: white;
}

.comment[data-has-description="true"] {
  color: var(--accent-color) !important;
}