.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 200ms all linear;
    border-bottom: 1px solid var(--text-light-color);
    width: 100%;
    height: 42px;
}

.container:last-child .container:has(.dragging) {
    background-color: red;
}

.dragging {
    opacity: 0;
}

.container[data-openned="true"] {
    background-color: var(--accent-color);

}

.container:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: 200ms all linear;
}

.container:hover .task__remove {
    visibility: visible;
}

.content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;

}

.checkbox {
    position: relative;
    top: 2px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    /* Nouveaux styles */
    appearance: none;
    background: transparent;
    border: 1px solid var(--text-medium-color);
    border-radius: 2px;
    padding: 6px;
}

.checkbox:checked {
    background-color: var(--accent-color);
    position: relative;
}

.checkbox:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color-muted);
    font-size: 12px;
    color: white;
}

.content [aria-roledescription="sortable"] svg {
    width: 15px;
    height: 15px;
    cursor: grab;
}

.content [aria-roledescription="sortable"] svg {
    color: var(--text-light-color);
}

.content .options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.comment svg {
    width: 1.5rem;
    height: auto;
    cursor: pointer;
}

.comment svg path {
    fill: #cfcece;
}

.options {
    height: 100%;
}

.container:hover .task__remove {
    color: var(--text-color-muted);
}

.task__remove {
    cursor: pointer;
    margin-right: 8px;
    margin-left: 8px;
    color: #41435f;
    transition: color 150ms ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.container .task__remove:hover {
    color: var(--danger-color);
}

.confirm_container {
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1000;
}