.container {
    display: flex;
    flex-direction: column;
    top: 40px;
    right: 50px;
    width: 560px;
    padding: 0 !important;
    max-height: 400px;
    overflow-y: auto;
}

.header {
    font-weight: bold;
    font-size: 1.1rem;
}

.notifications {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notification a {
    display: flex;
    gap: 4px;
    border-top: 1px solid var(--border-color);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    display: flex;
    gap: 8px;
}

.header,
.messsage,
.empty,
.notification a {
    padding: 14px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.title {
    font-size: var(--text-size-normal);
    font-weight: 500;
}

.content {
    font-size: var(--text-size-small);
}

.notification .date {
    font-size: var(--text-size-small);
}

.date {
    text-align: right;
    min-width: max-content;
}