.container {
    width: 120px;
    padding: 4px 8px;
}

.container svg {
    color: #ffffff24;
    width: 16px;
    height: 16px;
}

.container span {
    display: flex;
    align-items: center;
    gap: 14px;
}