.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 8px;
}

.deadline {
    display: flex;
    gap: 10px;
    font-size: 0.9rem;
}

.deadline svg {
    color: #ffffff24;
    width: 16px;
    height: 16px;
}

.container input {
    padding: 8px;
    color-scheme: dark;
}