.container {
    position: absolute;
    z-index: 2000;
    top: 0;
    right: -30%;
    background-color: var(--primary-background-color);
    width: 30%;
    height: 100%;
    box-shadow: -4px 10px 10px 0px rgba(0, 0, 0, 0.15);
    animation: openAnimation 250ms forwards ease-in;
}

@keyframes openAnimation {
    from {
        right: -30%;
    }

    to {
        right: 0%;
    }
}