.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 4px 8px; */
    padding-inline: 8px;
    transition: 200ms all linear;
    border-bottom: 1px solid #43455f;
}

.task:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 200ms all linear;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

}

.content svg {
    width: 15px;
    height: 15px;
}

.options {
    display: flex;
}

.task__modal {
    display: flex;
    align-items: center;
}

.task__modal svg {
    width: 25px;
    height: 25px;
}