.container {
    position: relative;
    border-radius: 4px;
    display: flex;
    width: fit-content;
    max-width: 150px;
}

.modal {
    position: absolute;
    top: 40px;
    z-index: 2000;
    left: -50%;

    background-color: red;
}