.container {
    position: absolute;
    z-index: 2001;
    top: 0;
    right: -30%;
    background-color: var(--primary-background-color);
    width: 40%;
    height: 100%;
    box-shadow: -4px 10px 10px 0px rgba(0, 0, 0, 0.15);
    animation: openAnimation 250ms forwards ease-out;
    padding: 64px 24px 24px 24px;
    cursor: default;
    overflow-y: auto;
    overflow-x: hidden;
}

.container-close {
    animation: closeAnimation 250ms forwards ease-out;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header span {
    font-size: 1.2rem;
}

.header svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.container,
.description,
.conversation {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.preview {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 14px;
    font-size: 0.85rem;
    cursor: pointer;
}

.preview ol,
.preview ul {
    padding: 14px;
}

.preview a {
    color: #1E90FF;
    text-decoration: underline;
}

.preview img {
    max-width: 800px;
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-top: 10px;
}

@keyframes openAnimation {
    from {
        right: -40%;
    }

    to {
        right: 0%;
    }
}

@keyframes closeAnimation {
    from {
        right: 0%;
    }

    to {
        right: -40%;
    }
}