.container {
    display: flex;
    max-width: 120px;
    width: 100%;
    padding: 4px 8px;
    border-right: 1px solid var(--border-color);
    height: 100%;
}

.container svg {
    color: #ffffff24;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.container[data-running="true"] svg {
    color: inherit;
}

.container span {
    display: flex;
    align-items: center;
    gap: 14px;
}