.dropdown {
    position: relative;
}

.dropdown-current {
    min-width: 120px;
    padding: 8px 8px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

/* Status */
.dropdown-current[data-current="pending"] {
    background-color: var(--pending-color);
}

.dropdown-current[data-current="todo"] {
    background-color: var(--todo-color);
}

.dropdown-current[data-current="processing"] {
    background-color: var(--processing-color);
}

.dropdown-current[data-current="blocked"] {
    background-color: var(--blocked-color);
}

.dropdown-current[data-current="finished"] {
    background-color: var(--finished-color);
}

/* priority  */
.dropdown-current[data-current="low"] {
    background-color: var(--low-color);
}

.dropdown-current[data-current="mid"] {
    background-color: var(--medium-color);
}

.dropdown-current[data-current="high"] {
    background-color: var(--high-color);
}

.dropdown-current[data-current="urgent"] {
    background-color: var(--urgent-color);
}

.dropdown-list {
    position: absolute;
    left: 0;
    text-align: center;
    width: 100%;
    background-color: red;
}

.dropdown-list ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
}