.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.task .task__input {
    width: 100%;
    min-width: 500px;
    background-color: red;
}

.task__input input {
    padding: 10px;
}

.task__options {
    display: flex;
    gap: 8px;
}