.container {

    width: 100%;
    max-width: 700px;
    background-color: red;
}

.container p {
    padding: 6px;
    font-size: 0.85rem;
    overflow: hidden;
}

.container input {
    padding: 6px;

}