.tasks ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tasks li form {
    width: 100%;
}

.tasks li {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 700px;
}

.tasks__info {
    position: absolute;
    margin-top: 15px;
    margin-left: 25px;
    color: var(--text-color-muted);
    font-size: 0.8rem;
}

.tasks__info span {
    color: white;
}