.container {
    position: relative;
    border-radius: 4px;
    display: flex;
    width: fit-content;
    max-width: 150px;
}

.plus {
    border: 2px solid var(--border-color);
    padding: 8px;
    border-radius: 50%;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 40px;
    z-index: 2000;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 8px;
    border-radius: 4px;

}


.modal li {
    display: flex;
    align-items: center;
    gap: 16px;
}

.email {
    font-size: 0.9rem;
}


@keyframes modalAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}