.container {
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container p {
    padding: 6px;
    font-size: 0.85rem;
    white-space: nowrap;
    /* Empêche le texte de se couper sur plusieurs lignes */
    overflow: hidden;
    /* Cache le texte qui dépasse */
    text-overflow: ellipsis;

}

.container input {
    padding: 6px;

}