.container {
    position: relative;
    display: flex;

    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 4px 8px;


}

.list {
    width: 90px;
    display: flex;
    justify-content: center;
    flex-direction: row !important;
}

.list li {
    display: flex;
    align-items: center;
}

.list li:not(:first-child) {
    position: relative;
    left: -12px;
    margin-right: -12px;
}

.count {
    position: relative;
    left: 2px !important;
    margin-right: 0px !important;
}

.plus {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--border-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.modal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 40px;
    z-index: 2001;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--secondary-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 12px;
    border-radius: 4px;
    cursor: default;
    width: max-content;
    min-width: 265px;
    max-width: 320px;
}

.responsibles__list {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 5px;
    width: 100%;
}

.responsibles__list li {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.8rem;
    background-color: var(--border-color);
    width: fit-content;
    padding: 6px;
    border-radius: 20px;
    transition: 120ms all linear;
    cursor: pointer;
}

.responsibles__list li svg {
    width: 15px;
    height: 11px;
}

.responsibles__list li:hover {
    background-color: var(--primary-background-color);
    cursor: pointer;
    transition: 120ms all linear;
}

.guests__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.guests__title {
    font-size: 0.8rem;
    font-weight: 500;
}

.guests__list li {
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
}

.guests__list li:hover {
    background-color: var(--border-color);

}

.email {
    font-size: 0.9rem;
}


@keyframes modalAppear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}