@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-bricolage: "Bricolage Grotesque", sans-serif;

  --color-color-accent-color: #a87e51;
  --color-color-accent-color-transparent: rgba(168, 126, 81, 0.3);
  --color-color-accent-color-hover: #977045;
  --color-background-primary-color: #dad6c7;
  --color-background-secondary-color: #f9f7ef;
  --color-background-third-color: #eae7de;
  --color-background-side-color: rgba(45, 63, 68, 0.9);
  --color-color-foreground: #171717;
  --color-color-border-color: #3a3d5c;

  --color-text-color: #e0e0e0;
  --color-text-accent-color: #d4a979;
  --color-text-color-dark: #3a4344;
  --color-text-color-red: #c04747;

  --color-danger-color: #c14854;

  /* REWORKED COLORS & VARS 02/03/25 */

  /* BACKGROUNDS */
  --color-background-primary-transparent: rgba(218, 214, 199, 0.6);
  --background-gradient-dark: linear-gradient(140deg,
      #39545b,
      #2a4046 17%,
      #16363c 52%,
      #2a4046 86%,
      #32484e 100%);

  /* COLORS */
  --color-text-darker-color: #1f312d;
  --color-text-dark-color: #3a4344;
  --color-text-medium-color: #909490;
  --color-text-light-color: rgb(215, 212, 203);
  --color-text-lighter-color: #e7e3d9;
  --color-text-color-muted: #72716f;

  --color-color-border-color: #acaba5;

  --color-state-pending-color: #b3bcc0;
  --color-state-processing-color: #f3b158;
  --color-state-finished-color: #63a758;
  --color-state-todo-color: #559fc6;
  --color-state-checking-color: #9d88c2;
  --color-state-estimating-color: #62c3b0;
  --color-state-blocked-color: #ca4250;

  --color-color-low-color: #afbde9;
  --color-color-medium-color: #879ce0;
  --color-color-high-color: #7c67ad;
  --color-color-urgent-color: #e17587;

  /* TEXT */
  --text-text-size-large: 1.2rem;
  --text-text-size-medium: 1rem;
  --text-text-size-normal: 0.95rem;
  --text-text-size-small: 0.8rem;

  /* SPACING */
  --spacing-spacing-header-height: 62px;
  --spacing-spacing-aside-width: 66px;
  --spacing-spacing-layout-gap: 24px;
  --tracking-spacing-letter-normal: 0.011rem;

  /* BORDER RADIUS */
  --radius-border-radius-large: 24px;
  --radius-border-radius-medium: 16px;
  --radius-border-radius-small: 8px;
  --radius-border-radius-xs: 4px;

  /* BOX SHADOW */
  --shadow-shadow-box-medium: 0 2px 4px rgba(0, 0, 0, 0.2);
  --shadow-shadow-box-small: 0 2px 4px rgba(0, 0, 0, 0.05);
}

@layer components {
  .form-group {
    position: relative;
    width: 100%;
  }

  .form-group:has(input:focus) label {
    transition: all ease-in-out 120ms;
    font-size: var(--text-size-small);
    top: -15px;
  }

  /* QUILL STYLES */
  .ql-container {
    font-family: inherit !important;
  }

  .ql-editor li[data-list="bullet"] {
    list-style-type: disc;
  }

  .ql-editor {
    font-size: var(--text-size-normal);
    letter-spacing: 0.01rem;
    height: auto;
    min-height: 100px;
    max-height: 500px;
  }

  .ql-toolbar.ql-snow {
    border-bottom: inherit !important;
    border-color: var(--border-color) !important;
    border-radius: 4px 4px 0 0 !important;
  }

  .ql-toolbar.ql-snow .ql-picker-label {
    filter: invert(91%) sepia(0%) saturate(33%) hue-rotate(156deg) brightness(96%) contrast(99%);
  }

  .ql-snow.ql-toolbar button svg {
    filter: invert(91%) sepia(0%) saturate(33%) hue-rotate(156deg) brightness(96%) contrast(99%);
  }

  .ql-editor.ql-blank:before {
    color: var(--text-color) !important;
    font-style: normal !important;
  }

  .ql-container.ql-snow {
    border-color: var(--border-color) !important;
    border-radius: 0 0 4px 4px !important;
    color: var(--text-color) !important;
    background-color: var(--secondary-background-color) !important;

    cursor: text;
  }

  /* Tiptap */
  .ProseMirror {
    min-height: 150px;
    border: none;
    outline: none;
  }

  .tiptap p.is-editor-empty:first-child::before {
    color: var(--text-color-muted);
    content: attr(data-placeholder);
    height: 0;
    float: left;
    pointer-events: none;
  }

  /* BoardHeader */
  .container_BoardHeader[data-archive="false"] .dataTitle_BoardHeader[data-authorized="true"]:hover {
    border: 1px solid var(--border-color);
    cursor: inherit !important;
  }

  .container_BoardHeader[data-open="false"] {
    background-color: var(--secondary-background-color);
    padding: 8px;
    border-radius: var(--border-radius-xs);
    margin-bottom: 0;
  }

  .checkbox_BoardHeader:checked::after {
    content: '✓';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color-muted);
    font-size: 12px;
    color: white !important;
  }

  /* Message */
  .text_Message {
    font-weight: 300;
    font-size: var(--text-text-size-normal);
  }

  .text_Message p:empty {
    margin: 12px 0;
  }

  .text_Message img {
    width: 100%;
    max-width: 800px;
    max-height: 400px;
    object-fit: cover;
    margin: 10px 0;
  }

  .text_Message span {
    color: var(--color-color-accent-color);
    font-weight: 500;
  }

  .text_Message ul,
  .text_Message ol {
    margin-left: 25px;
  }

  .text_Message ul {
    list-style-type: disc;
  }

  /* MessagesSkeleton */
  .header_MessagesSkeleton {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .header_MessagesSkeleton div,
  .body_MessagesSkeleton div {
    background-color: var(--third-background-color);
  }

  .header_MessagesSkeleton div:first-child {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .header_MessagesSkeleton div:last-child {
    width: 120px;
    height: 20px;
    border-radius: var(--border-radius-small);
  }

  .body_MessagesSkeleton {
    margin-top: 14px;
  }

  .body_MessagesSkeleton div:first-child {
    width: 60%;
    height: 20px;
    border-radius: var(--border-radius-small);
  }

  .body_MessagesSkeleton div:last-child {
    margin-top: 14px;
    width: 40%;
    height: 20px;
    border-radius: var(--border-radius-small);
  }

  .header_MessagesSkeleton div,
  .body_MessagesSkeleton div {
    background: linear-gradient(90deg,
        var(--third-background-color) 25%,
        rgba(255, 255, 255, 0.1) 50%,
        var(--third-background-color) 75%);
    background-size: 200% 100%;
    animation-timing-function: ease-in-out;
  }

  /* Animation spécifique aux éléments du header */
  .header_MessagesSkeleton div:nth-child(1),
  .header_MessagesSkeleton div:nth-child(2) {
    background-size: 800px 100px;
    animation: wave-skeleton 2.5s infinite ease-in-out;
  }

  /* Animation spécifique pour les divs dans le body */
  .body_MessagesSkeleton div {
    background-size: 800px 100px;
    animation: wave-skeleton 2.5s infinite ease-in-out;
  }

  @keyframes wave-skeleton {
    0% {
      background-position: -468px 0;
    }

    50% {
      background-position: 468px 0;
    }

    100% {
      background-position: -468px 0;
    }
  }

  /* PopupMessage */
  .container_PopupMessage::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 0 0 4px 4px;
    animation: timeoutDuration forwards 3900ms linear;
  }

  .container_PopupMessage[data-status="success"] .header {
    color: #33BB87;
  }

  .container_PopupMessage[data-status="success"]::before {
    background-color: #33BB87;
  }

  .container_PopupMessage[data-status="failure"] .header {
    color: #ca4250;
  }

  .container_PopupMessage[data-status="failure"]::before {
    background-color: #ca4250;
  }

  @keyframes timeoutDuration {
    from {
      width: 100%;
    }

    to {
      width: 0%;
    }
  }

  /* SideNav */
  .container_SideNav[data-open="true"] .wrapper_SideNav {
    min-width: 220px;
    width: 220px;
  }

  .nav_SideNav::-webkit-scrollbar {
    display: none;
  }

  /* SortableProject */
  .container_SortableProject:hover img,
  .container_SortableProject[data-active="true"] img {
    border: 2px solid var(--accent-color);
  }

  .container_SortableProject:hover:after,
  .container_SortableProject[data-active="true"]:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #f9d6ac0d;
    border-right: 2px solid var(--accent-color);
    z-index: -1;
    border-radius: 33px 0 0 33px;
  }

  .container_SortableProject[data-active="true"] span {
    font-weight: 400;
    transition: all linear 150ms;
  }
}

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
    background-color: #b0b0a831;
    border-radius: var(--border-radius-small);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #2e372a48;
    border-radius: var(--border-radius-small);
    cursor: pointer;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #2e372a6e;
  }

  ::placeholder {
    color: var(--text-color-muted);
  }

  html,
  body {
    max-width: 100vw;
    min-height: 100svh;
    overflow-x: hidden;
  }

  body {
    background-image: url("/backgrounds/background.jpg");
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: cover;
    /* font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-dark-color);
  }

  h1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
    font-weight: bold;
  }

  a {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    color: var(--accent-color-hover);
    text-decoration: underline;
  }

  img,
  video {
    height: unset !important;
  }

  button {
    border-radius: var(--border-radius-large);
    font-size: var(--text-size-medium);
    letter-spacing: var(--letter-spacing-normal);
    background-color: var(--accent-color);
    padding: 12px 24px !important;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-size: 300% 300%;
    background-position: 0% 0%;
    z-index: 1;
  }

  button:hover,
  button:active {
    background-color: var(--accent-color-hover);
    box-shadow: 0 5px 20px rgba(151, 112, 69, 0.15);
  }

  button[data-disabled="true"] {
    pointer-events: none;
    background-color: var(--accent-color-hover);
    opacity: 0.7;
    box-shadow: none;
  }

  ul {
    list-style-type: none;
  }

  i {
    margin-top: -5px;
    color: #dc3545;
    font-size: 0.875rem;
    text-align: left;
  }

  p {
    line-height: 1.5rem;
    letter-spacing: var(--letter-spacing-normal);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  form label {
    position: absolute;
    top: 10px;
    font-size: inherit;
    transition: all ease-in-out 120ms;
    cursor: text;
    color: var(--text-medium-color);
  }

  form label[data-active="true"] {
    font-size: var(--text-size-small);
    top: -15px;
  }

  input,
  textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--text-darker-color);
    letter-spacing: var(--letter-spacing-normal);
    border-bottom: 1px solid var(--text-medium-color);
    outline: none;
    padding: 12px 0 12px 0;
  }

  /* Prevent the background of the autocomplete */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s linear 0s;
    -webkit-text-fill-color: white !important;
  }

  input[type="checkbox"] {
    accent-color: var(--accent-color);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* 
html:has(#task-more) {
  overflow: hidden; 
} */

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

#overlay-hidden {
  position: absolute;
  z-index: 2000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2001;
  background-color: var(--color-background-secondary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 24px;
  border-radius: var(--radius);
}

#popover {
  position: absolute;
  z-index: 2001;
  background-color: var(--color-background-secondary-color);
  border-radius: var(--radius-border-radius-small);
}

#more {
  position: absolute;
  z-index: 2001;
  background-color: var(--color-background-secondary-color);
  border-radius: var(--radius-border-radius-xs);
  box-shadow: var(--shadow-shadow-box-medium);
  padding: 8px;
  font-size: var(--text-text-size-small);
  color: var(--color-text-color-dark);
  user-select: none;
}

#modal-layout,
#task-modal-layout,
#modal-layout-opacity {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#modal-layout,
#task-modal-layout {
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-layout-opacity {
  background-color: transparent;
}

#task-text:last-child {
  background-color: red;
}

/* Task row */
#task-row {
  display: flex;
  align-items: center;
  height: 100%;
}

.epr_-6npj90 {
  --epr-emoji-size: 18px !important;
  --epr-category-navigation-button-size: 24px !important;
}

:root {
  --accent-color: #a87e51;
  --accent-color-transparent: rgba(168, 126, 81, 0.3);
  --accent-color-hover: #977045;
  --primary-background-color: #dad6c7;
  --secondary-background-color: #f9f7ef;
  --third-background-color: #eae7de;
  --side-background-color: rgba(45, 63, 68, 0.9);
  --foreground: #171717;
  --border-color: #3a3d5c;

  --text-color: #e0e0e0;
  --text-accent-color: #d4a979;
  --text-color-dark: #3a4344;
  --text-color-red: #c04747;

  --danger-color: #c14854;

  /* REWORKED COLORS & VARS 02/03/25 */

  /* BACKGROUNDS */
  --primary-background-transparent: rgba(218, 214, 199, 0.6);

  /* COLORS */
  --text-darker-color: #1f312d;
  --text-dark-color: #3a4344;
  --text-medium-color: #909490;
  --text-light-color: rgb(215, 212, 203);
  --text-lighter-color: #e7e3d9;
  --text-color-muted: #72716f;
  --background-gradient-dark: linear-gradient(140deg,
      #39545b,
      #2a4046 17%,
      #16363c 52%,
      #2a4046 86%,
      #32484e 100%);
  --border-color: #acaba5;

  --pending-color: #b3bcc0;
  --processing-color: #f3b158;
  --finished-color: #63a758;
  --todo-color: #559fc6;
  --checking-color: #9d88c2;
  --estimating-color: #62c3b0;
  --blocked-color: #ca4250;

  --low-color: #afbde9;
  --medium-color: #879ce0;
  --high-color: #7c67ad;
  --urgent-color: #e17587;

  /* TEXT */
  --text-size-large: 1.2rem;
  --text-size-medium: 1rem;
  --text-size-normal: 0.95rem;
  --text-size-small: 0.8rem;
  --letter-spacing-normal: 0.011rem;

  /* SPACING */
  --header-height: 62px;
  --aside-width: 66px;
  --layout-gap: 24px;

  /* BORDER RADIUS */
  --border-radius-large: 24px;
  --border-radius-medium: 16px;
  --border-radius-small: 8px;
  --border-radius-xs: 4px;

  /* BOX SHADOW */
  --box-shadow-medium: 0 2px 4px rgba(0, 0, 0, 0.2);
  --box-shadow-small: 0 2px 4px rgba(0, 0, 0, 0.05);
}