.main {
    margin: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.wrapper {
    .container {
        background-color: var(--secondary-background-color);
        padding: 32px;
        border-radius: 8px;
        width: 100%;
        max-width: 600px;
    }
}