.main {
    display: flex;
    justify-content: center;
    margin: 80px 120px 80px 120px;
}

.container {
    background-color: var(--secondary-background-color);
    padding: 24px;
    border-radius: 4px;
}


.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.picture {
    position: relative;
    display: inline-block;
}



.picture:hover::before {
    position: absolute;
    content: "";
    z-index: 2000;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 50%;
    cursor: pointer;
}

.editPicture {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2001;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.300);
    transform: translate(-50%, -50%);
}

.editPicture svg {
    width: 20px;
    height: 20px;
}