.project {
    margin-inline: 120px;
}

.project__container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project__header {
    display: flex;
    justify-content: space-between;
}

.project__name {
    font-size: 1.4rem;
    font-weight: bold;
}

.project__options {
    display: flex;
    gap: 12px;
}

.project__options button {
    background: none;
    padding: 0;
    font-size: 0.9rem;
}

.project__options button:nth-child(1) {
    color: var(--accent-color);
}


.project__options button {
    background: none;
    padding: 0;
}

.project__options button {
    background: none;
    padding: 0;
}