.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: opacity 50ms linear;
}

.container[data-loading="true"] {
  opacity: 0.4;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 14px;
  padding: 16px 24px;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius-small);
  transition: all 50ms linear;
  position: relative;
}

.header,
.user {
  display: flex;
  align-items: center;
}

.header {
  justify-content: space-between;
}

.header svg {
  cursor: pointer;
}

.user {
  gap: 8px;
}

.names {
  font-size: var(--text-size-normal);
  font-weight: 500;
}

.date,
.updated {
  font-size: 0.75rem;
  color: var(--text-color-muted);
}

.more {
  position: absolute;
  z-index: 2001;
  right: 24px;
  width: fit-content;
  padding: 8px;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius-xs);
  box-shadow: var(--box-shadow-medium);
}

.more ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.more ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  font-size: var(--text-size-small);
  cursor: pointer;
  transition: background-color 120ms linear;
}

.more li svg {
  max-width: 14px;
  max-height: 14px;
}

.more li:last-child {
  color: var(--text-color-red);
}

.more li:hover {
  background-color: var(--third-background-color);
  border-radius: var(--border-radius-xs);
}

.text {
  font-weight: 300;
  font-size: var(--text-size-normal);
}

.text p:empty {
  margin: 12px 0;
}

.text img {
  width: 100%;
  max-width: 800px;
  max-height: 400px;
  object-fit: cover;
  margin: 10px 0;
}

.text span {
  color: var(--accent-color);
  font-weight: 500;
}

.text ul,
.text ol {
  margin-left: 25px;
}

.text ul {
  list-style-type: disc;
}

.reactions {
  display: flex;
  position: relative;
  top: 0.5px;
  cursor: pointer;
}

.reactions ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reactions button {
  padding: 0 !important;
  background-color: transparent !important;
  border: none;
}

.informations {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-left: 12px;
}

.readBy {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}

.emojiPicker {
  display: flex;
  position: absolute;
  z-index: 2001;
  top: 20px;
  left: -12px;
}

.emojiReactions {
  display: flex;
  flex-direction: row;
  margin-bottom: 2px;
  gap: 4px;
}

.epr-emoji-img {
  width: 24px;
  height: auto;
}

.emojiIcon {
  cursor: pointer;
}

.emojiReaction {
  position: relative;
}
